@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }
}

.cart-page {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
.cart-table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: #fff;
  height: 30px;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: #ff523b;
  font-size: 12px;
}
td img {
  width: 180px;
  height: 180px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.total-price table {
  border-top: 3px solid #5a9b33;
  max-width: 400px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}
